 /* .cat-info{
    position: relative;
}
.cat-info img {
    padding-top: 15px;
    width: 370;
height: 350;
}

.cat-info h2 {
    font-weight: bold;
  
  }
  .temperament-word{
    font-weight: bold; 
  }
 
  .loader{
    font-weight: bold; 
  }
  .text-container{
    position: absolute;
    top: 0;
    left: 400;
  } */
  @import '~node_modules/modern-normalize/modern-normalize.css';



  /* .text-container{
    position: absolute;
    top: 0;
    left: 400;
  } 
   */

  
  .invisible {
    display: none;
  }
  
  /* .cat-info {
    position: relative;
  } */
  .cat-info img {
      padding-top: 15px;
      width: 370;
  height: 350;
  }
  
  
  .hidden-select {
    display: none;
  }
 